<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.stxt.sys.mapper.AssociationMapper">
    <select id="selectMemberListById" resultType="com.core.stxt.sys.entity.vo.MemberInfo">
        SELECT member.id AS member_id,
               member.user_id,
               member.rank,
               member.create_time,
               user.NAME,
               `user`.sex,
               `user`.class_name,
               `user`.phone,
               status
        FROM member
                     INNER JOIN `user` ON member.user_id = `user`.id
        WHERE member.association_id = #{associationId}
          and status = 0
        ORDER BY member.create_time DESC
    </select>
    <select id="selectCheckMemberListById" resultType="com.core.stxt.sys.entity.vo.MemberInfo">
        SELECT member.id AS member_id,
               member.user_id,
               member.rank,
               member.create_time,
               user.NAME,
               `user`.sex,
               `user`.class_name,
               `user`.phone,
               status
        FROM member
                     INNER JOIN `user` ON member.user_id = `user`.id
        WHERE member.association_id = #{associationId}
          and status = 1
        ORDER BY member.create_time DESC
    </select>
    <resultMap id="UserJoinAssociation" type="com.core.stxt.sys.entity.vo.UserInAssociation">
        <result column="type" property="type"/>
        <result column="user_name" property="userName"/>
        <result column="member_status" property="memberStatus"/>
        <association property="association" javaType="com.core.stxt.sys.entity.po.Association">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="img_url" property="imgUrl"/>
            <result column="brief" property="brief"/>
            <result column="qq" property="qq"/>
            <result column="email" property="email"/>
        </association>
    </resultMap>
    <select id="selectCreateByUser" resultMap="UserJoinAssociation">
        SELECT association.*,
               type.NAME     as type,
               `user`.name   as user_name,
               member.status as member_status
        FROM association
                     INNER JOIN member ON association.id = member.association_id
                     INNER JOIN type ON association.type_id = type.id
                     LEFT JOIN user on association.student_id = `user`.id
        WHERE member.user_id = #{id}
          AND member.rank = '社长'
    </select>

    <select id="selectJoinByUser" resultMap="UserJoinAssociation">
        SELECT association.*,
               type.NAME     as type,
               `user`.name   as user_name,
               member.status as member_status
        FROM association
                     INNER JOIN member ON association.id = member.association_id
                     INNER JOIN type ON association.type_id = type.id
                     LEFT JOIN user on association.student_id = `user`.id
        WHERE member.user_id = #{id}
          AND member.rank = '社员'
    </select>
    <select id="selectAssociationById" resultMap="UserJoinAssociation">
        SELECT association.*,
               type.NAME   AS type,
               `user`.NAME AS user_name
        FROM association
                     INNER JOIN type ON association.type_id = type.id
                     LEFT JOIN `user` ON association.student_id = `user`.id
        where association.id = #{id}
    </select>
</mapper>
